@charset "utf-8";



@media(max-width:750px){.clrxian{border:none;}.clorderr{height:235px;overflow:hidden;margin-top:10px;}.clfahuo{padding-bottom:20px;}}

@media(max-width:320px){.clwarp{border:0;}.clsubbox input{width:96%;}}

/*///////////////////////////////////////// clORDERCSSEND ////////////////////////////////////////*/