@charset "utf-8";

/**
  **************************************************************************************************
  **********                DEDE168在线订单系统2016 WEB、WAP自适应版官方正式版                **********
  **********------------------------------------------------------------------------------**********
  **********              官方网站：http://www.dede168.com/ QQ交流群：97206582              **********
  **************************************************************************************************
*/

*{padding:0;margin:0;}
body{font:14px Microsoft YaHei,\5FAE\8F6F\96C5\9ED1,SimSun,\5B8B\4F53,Arial,Verdana;color:#000;text-align:left;}
a:link,a:visited{color:#66C2FF;text-decoration:none;}
a:hover{color:#F00;text-decoration:underline;}
input,select,textarea{font:100% Microsoft YaHei,\5FAE\8F6F\96C5\9ED1,SimSun,\5B8B\4F53,Arial,Verdana;}
em{font-style:normal;color:#F00;margin-right:5px;}
img{border:0 none;vertical-align:middle;}
.red{color:#F00;}
.blue{color:#09F;}
.green{color:#090;}
.pt{padding-top:3px;}
#clorder{margin:0 auto;}
.clwarp{width:auto;height:100%;}
.clorderl{float:left;display:inline;overflow:hidden;width:65%;height:100%;}
.clorderr{float:left;display:inline;overflow:hidden;width:35%;height:100%;}
.clforml,.clformr{width:100%;}
.clrxian{width:auto;height:auto;overflow:hidden;_height:100%;}
.cltitlea,.cltitleb{height:60px;margin-bottom:15px;background:url(../images/titab.gif) no-repeat;}
.cltitlea{background-position:0 0;}
.cltitleb{background-position:0 -60px;}
.clwarp label.clbdxx{float:left;display:inline;overflow:hidden;width:19%;_width:18%;text-align:right;padding-top:3px;padding-right:3%;}
.cldxbox,.clxlbox,.cltextbox,.cltext2box,.cltext3box,.bdpayps{float:left;display:inline;overflow:hidden;width:78%;_width:77%;}
.cldxbox,.cltext2box,.cltext3box{line-height:1.5em;}
.cltextbox input,.clxlbox select.clcpxl,.clxlbox select.cldqxl,.cltext2box textarea,.cltext3box input{border:1px solid #E0E0E0;background:#FCFCFC;}
.cldxbox p{width:92%;line-height:1.6em;margin-bottom:3px;}.cldxbox p img{margin-left:6px;margin-top:-5px;}
.clbdbox{float:left;width:100%;margin-bottom:8px;*margin-bottom:7px;}
.bdbdbox{float:left;width:100%;margin-bottom:8px;*margin-bottom:7px;}
.cldxbox label{margin-left:6px;cursor:pointer;}
.cldxbox input{width:15px;height:15px;vertical-align:middle;margin-top:-2px;margin-bottom:1px;}
.bddxbox label{margin-left:6px;cursor:pointer;}
.bddxbox input{width:15px;height:15px;vertical-align:middle;margin-top:-2px;margin-bottom:1px;}
.cltextbox input,.cltext3box input{width:92%;font-size:14px;color:#666;padding:3px 5px;_padding:2px 5px;}
.cltext3box #showmun,.cltext3box #showprice{clear:both;display:inline;font-family:Arial,Verdana;font-size:14px;font-weight:bold;color:#F60;margin:0 5px;}
.clxlbox select.clcpxl{padding:3px;}
.clxlbox select.cldqxl{width:30.70%;padding:2px;margin-right:6px;}
.bdpayps{font-size:12px;color:#666;padding-left:22%;line-height:1.6em;}
.bdpayps p{display:block;float:left;width:92%;padding:2px 5px;_margin-left:-3px;text-align:center;border:1px dotted #E0E0E0;background:#FFFFE6;}
.cltext2box textarea{width:92%;height:40px;color:#666;padding:5px;}
.cltext3box input{width:50px;text-align:center;margin-right:8px;}
.cltext3box img#clcode{margin-top:-3px;cursor:pointer;}
.cltext3box a{font-size:12px;margin-left:6px;}
.clsubbox{width:100%;float:left;text-align:center;padding-bottom:10px;}
.clsubbox input{width:50%;height:35px;line-height:35px;color:#FFF;font-size:15px;cursor:pointer;border:0;}
#clfahuo{width:90%;font-size:12px;line-height:1.8em;color:#666;padding:0 5%;}
#clfahuo p{padding-bottom:15px;border-bottom:1px dotted #CCC;}
.bdtext3box input{width:50px;font:16px Arial;color:#666;font-weight:bold;text-align:center;vertical-align:middle;margin-right:8px;padding:4px 5px 3px;background:#FFF;}
.bdtext3box img#bdcode{width:70px;height:29px;cursor:pointer;}
.bdtext3box a{font-size:12px;margin-left:6px;}

.numbs{height:32px;margin:0 0 16px 0;}

.numbs .num{float:left;}

.numbs .num i{float:left;height:26px;background:#fff;border:1px solid #838383;display:inline-block;font-size:22px;font-weight:bold;line-height:22px;padding:0 10px;vertical-align:middle;cursor:pointer;}

.numbs .num input{float:left;width:30px;height:18px;padding:4px 0;border-bottom:1px solid #838383;border-radius:0;border-top:1px solid #838383;font-size:14px;font-weight:bold;line-height:normal;text-align:center;border-left:0;border-right:0;}

.numbs .prices{float:right;padding:6px 0 0 0;font-size:16px;}

.numbs .prices span:first-child{margin:0 7px 0 0;}

.numbs .prices em{color:#f40;font-size:16px;font-weight:bold;}
